{% extends "Layouts/layout.html "%}
{% block content %}

		
		


<div class="container text-center">
	<h1 class="my-5">Alphabets in Indian Sign Language</h1>
	<div class="border rounded rounded-3 my-3">
		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'A.jpg')}}" style="border:3px solid black"/>
				<h2>A</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'B.jpg')}}" style="border:3px solid black"/>
				<h2>B</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'C.jpg')}}" style="border:3px solid black"/>
				<h2>C</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'D.jpg')}}" style="border:3px solid black"/>
				<h2>D</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'E.jpg')}}" style="border:3px solid black"/>
				<h2>E</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'F.jpg')}}" style="border:3px solid black"/>
				<h2>F</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'G.jpg')}}" style="border:3px solid black"/>
				<h2>G</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'H.jpg')}}" style="border:3px solid black"/>
				<h2>H</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'I.jpg')}}" style="border:3px solid black"/>
				<h2>I</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'J.jpg')}}" style="border:3px solid black"/>
				<h2>J</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'K.jpg')}}" style="border:3px solid black"/>
				<h2>K</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'L.jpg')}}" style="border:3px solid black"/>
				<h2>L</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'M.jpg')}}" style="border:3px solid black"/>
				<h2>M</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'N.jpg')}}" style="border:3px solid black"/>
				<h2>N</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'O.jpg')}}" style="border:3px solid black"/>
				<h2>O</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'P.jpg')}}" style="border:3px solid black"/>
				<h2>P</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'Q.jpg')}}" style="border:3px solid black"/>
				<h2>Q</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'R.jpg')}}" style="border:3px solid black"/>
				<h2>R</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'S.jpg')}}" style="border:3px solid black"/>
				<h2>S</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'T.jpg')}}" style="border:3px solid black"/>
				<h2>T</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col">
				<img src="{{url_for('static', filename = 'U.jpg')}}" style="border:3px solid black"/>
				<h2>U</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'V.jpg')}}" style="border:3px solid black"/>
				<h2>V</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'W.jpg')}}" style="border:3px solid black"/>
				<h2>W</h2>
			</div>
			<div class="col">
				<img src="{{url_for('static', filename = 'X.jpg')}}" style="border:3px solid black"/>
				<h2>X</h2>
			</div>
		</div>

		<div class="row mx-auto my-3">
			<div class="col-6">
				<img src="{{url_for('static', filename = 'Y.jpg')}}" style="border:3px solid black"/>
				<h2>Y</h2>
			</div>
			<div class="col-6">
				<img src="{{url_for('static', filename = 'Z.jpg')}}" style="border:3px solid black"/>
				<h2>Z</h2>
			</div>
			
		</div>


	</div>

	</div>

{% endblock content %}
		