{% extends "Layouts/layout.html "%}
{% block content %}

		
		


		<section id='lessons_list'>
			<h3>Lessons</h3>

			<div id='lesson_box'>

				<!-- <div class='pic_row'>
					<p>A</p>
					<p>B</p>
					<p>C</p>
				</div><br>
					
				<div class='pic_row'>
					<p>D</p>
					<p>E</p>
					<p>F</p>
				</div><br>
				
				<div class='pic_row'>
					<p>G</p>
					<p>H</p>
					<p>I</p>
				</div><br>

				<div class='pic_row'>
					<p>J</p>
					<p>K</p>
					<p>L</p>
				</div><br>

				<div class='pic_row'>
					<p>M</p>
					<p>N</p>
					<p>O</p>
				</div><br>

				<div class='pic_row'>
					<p>P</p>
					<p>Q</p>
					<p>R</p>
				</div><br>

				<div class='pic_row'>
					<p>S</p>
					<p>T</p>
					<p>U</p>
				</div><br>


				<div class='pic_row'>
					<p>V</p>
					<p>W</p>
					<p>X</p>
				</div><br>

				<div class='pic_row'>
					<p>Y</p>
					<p>Z</p>
									
				</div><br>	 -->

				<div class='pic_row'>
					<img src="{{url_for('static', filename = 'alphabet_2.png')}}" />
					
				</div><br>
				
				<a href="/alphabets_lesson"><button>Prev</button></a>


			</div>

		</section>

{% endblock content %}
		