{% extends "Layouts/layout.html "%}
{% block content %}

		
		


		<section id='lessons_list'>
			<h3>Lessons</h3>

			<div id='lesson_box'>

				<!-- <div class='pic_row'>
					<p>A</p>
					<p>B</p>
					<p>C</p>
				</div><br>
					
				<div class='pic_row'>
					<p>D</p>
					<p>E</p>
					<p>F</p>
				</div><br>
				
				<div class='pic_row'>
					<p>G</p>
					<p>H</p>
					<p>I</p>
				</div><br>

				<div class='pic_row'>
					<p>J</p>
					<p>K</p>
					<p>L</p>
				</div><br>

				<div class='pic_row'>
					<p>M</p>
					<p>N</p>
					<p>O</p>
				</div><br>

				<div class='pic_row'>
					<p>P</p>
					<p>Q</p>
					<p>R</p>
				</div><br>

				<div class='pic_row'>
					<p>S</p>
					<p>T</p>
					<p>U</p>
				</div><br>


				<div class='pic_row'>
					<p>V</p>
					<p>W</p>
					<p>X</p>
				</div><br>

				<div class='pic_row'>
					<p>Y</p>
					<p>Z</p>
									
				</div><br>	 -->

				<div class='pic_row'>
					<img src="{{url_for('static', filename = 'images/A.png')}}" />
					<img src="{{url_for('static', filename = 'images/B.png')}}" />
					<img src="{{url_for('static', filename = 'images/C.png')}}" />
				</div><br>
					
				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/D.png')}}" />
					<img src= "{{url_for('static', filename = 'images/E.png')}}" />
					<img src= "{{url_for('static', filename = 'images/F.png')}}"  />
				</div><br>
				
				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/G.png')}}" />
					<img src= "{{url_for('static', filename = 'images/H.png')}}" />
					<img src= "{{url_for('static', filename = 'images/I.png')}}" />
				</div><br>

				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/J.png')}}" />
					<img src= "{{url_for('static', filename = 'images/K.png')}}" />
					<img src= "{{url_for('static', filename = 'images/L.png')}}"/>
				</div><br>

				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/M.png')}}" />
					<img src= "{{url_for('static', filename = 'images/N.png')}}"/>
					<img src= "{{url_for('static', filename = 'images/O.png')}}"/>
				</div><br>

				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/P.png')}}" />
					<img src= "{{url_for('static', filename = 'images/Q.png')}}"/>
					<img src= "{{url_for('static', filename = 'images/R.png')}}" />
				</div><br>

				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/S.png')}}"/>
					<img src= "{{url_for('static', filename = 'images/T.png')}}" />
					<img src= "{{url_for('static', filename = 'images/U.png')}}"/>
				</div><br>


				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/V.png')}}" />
					<img src= "{{url_for('static', filename = 'images/W.png')}}"/>
					<img src= "{{url_for('static', filename = 'images/X.png')}}" />
				</div><br>

				<div class='pic_row'>
					<img src= "{{url_for('static', filename = 'images/Y.png')}}" />
					<img src= "{{url_for('static', filename = 'images/Z.png')}}" />
					
				</div><br>


			</div>

		</section>

{% endblock content %}
		