{% extends "Layouts/layout.html "%}
{% block content %}

		<section id='content'>

			<section>
				<h2>What is a Sign-Language</h2>
				<p>Sign languages are languages that use the visual-manual modality to convey meaning. Sign languages 
		are expressed through manual articulations in combination with non-manual elements. Sign languages are full-fledged natural languages with their own 
		grammar and lexicon. Sign languages are not universal and they are not mutually intelligible with each other,[2] although there are also striking 
		similarities among sign languages.	

		Linguists consider both spoken and signed communication to be types of natural language, meaning that both emerged through an abstract, protracted 
		aging process and evolved over time without meticulous planning. Sign language should not be confused with body language, a type of nonverbal 
		communication. 
				</p>

				
			</section>

			<section>
				<h2>Different Types Of Sign-Language</h2>
				<p>
				Sign language, like the spoken word, takes many different forms.There are more than 300 different sign languages in use around the 
		world. They vary from nation to nation. Even in countries where the same language is spoken, sign language can have many different regional accents 
		that bring subtle variations to people’s use and understanding of signs. While there are similarities between some of the most common sign languages,
	 	there are also many differences. And it’s not just the signs that vary. The speaker’s facial expressions, gestures, and body language can all have a 
		significant bearing on how a sign language is communicated, which is why there are so many different forms of sign language, not just in the UK but 
		around the world. Like spoken language, different groups and cultures develop their own ways of communicating unique to where they live. For example, 
		British and American natives both speak English as their primary verbal language. However, American Sign Language and British Sign Language differ 
		significantly. This is where many businesses and organisations continue to struggle to communicate with Deaf and Hard of Hearing communities.
		However, most professional sign language interpreters have the skills and knowledge to understand and translate the subtle differences in sign-language
		to a local audience, to help businesses make their services more accessible and support their Deaf employees and customers.
		</p>
			
			</section>
	
			<section>
				<h2> Does Sign-Language differ between other countries?</h2>

				<p>
				Sign language, like the spoken word, takes many different forms. There are more than 300 different sign languages in use around the 
		world. They vary from nation to nation. Even in countries where the same language is spoken, sign language can have many different regional accents 
		that bring subtle variations to people’s use and understanding of signs. While there are similarities between some of the most common sign languages,
		there are also many differences. And it’s not just the signs that vary. The speaker’s facial expressions, gestures, and body language can all have a 
		significant bearing on how a sign language is communicated, which is why there are so many different forms of sign language, not just in the UK but 
		around the world.

		Like spoken language, different groups and cultures develop their own ways of communicating unique to where they live. For example, British and American
		natives both speak English as their primary verbal language. However, American Sign Language and British Sign Language differ significantly.This is where
		many businesses and organisations continue to struggle to communicate with Deaf and Hard of Hearing communities. However, most professional sign-language
		interpreters have the skills and knowledge to understand and translate the subtle differences in sign language to a local audience, to help businesses make their services more accessible and support their Deaf employees and customers.
	
				</p>
			</section>		
	
		</section>
		
		<section>

		</section>


{% endblock content %}

