#lesson_box{

	/*border:  2px solid black;*/
	margin: 8%;

}

#lesson_box img{
	margin: 2%;
	/*border: 1px solid green;*/
}

.pic_row{

	/*border: 1px solid green;*/
	margin-left: 5%	;
}

.pic_row p{

	display: inline-block;
	/*border:  1px solid black;*/
	
}

.pic_row img{

	width: 120%%;
}

.pic_row_num{

	margin-left: 40%;
}